<!DOCTYPE html>

<html lang="kn">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        HKL Kannada TTS
    </title>


    <link rel="stylesheet"
          href="/static/css/style.css">

</head>


<body>


<div class="box">


    <h1>
        HKL Kannada TTS
    </h1>


    <textarea
            id="text"
            placeholder="ಕನ್ನಡ ವಾಕ್ಯ ನಮೂದಿಸಿ">
    </textarea>


    <button
            id="generate-btn"
            onclick="generate()">

        Generate Voice

    </button>


    <audio
            id="player"
            controls>

    </audio>


</div>


<script src="/static/js/app.js"></script>


</body>


</html>